@{
    ViewData["Title"] = "PC Pending Claims";
}
<head>
    <style>
        .outer-container {
            background-color: #007bff;
            max-width: 90%;
            margin: 20px auto;
            padding: 20px;
            border-radius: 8px;
        }

        .inner-container {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
        }

        h2{
            text-align: center;
        }

        h3{
            text-align: center;
        }

        table { /*table size and structure*/
            width: 100%; /*makes table the size of inner(parent) container*/
            border-collapse: collapse; /*makes neighbouring blocks share borders*/
        }

        th, td { /*table header and table data structure*/ 
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th { /*tabel header colour*/
            background-color: #f2f2f2;
        }

        .btn-approve {
            background-color: green;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
        }

        .btn-deny {
            background-color: red;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
        }

        .btn-pending { /*button will be non functional as it is only to show that claim is awating aproval by academic head*/
            background-color: orange;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="outer-container" >
        <div class="inner-container" style="margin-bottom: 20px;">
            <h2>All Pending Claims</h2>
        </div>

        <div class="inner-container" style="margin-bottom: 20px;">
            <h3>Claims Pending Programme Coordinator Approval</h3>
            @Html.AntiForgeryToken()
            <table>
                <thead>
                    <tr>
                        <th>Claim ID</th>
                        <th>Lecturer ID</th>
                        <th>Contract ID</th>
                        <th>Supporting Documents</th>
                        <th>Hourly Rate</th>
                        <th>Hours Worked</th>
                        <th>Claim Total</th>
                        <th>Date Of Claim</th>
                        <th>Approve/Deny</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model?.Claims != null) //if there are claims in the model this will loop through them
                    {
                        foreach (var claim in Model.Claims) //allows each claim to be displayed in the table one at a time
                        {
                            if ((claim.ProgrammeCoordinatorApproval == false) && (claim.OverallAproval == "pending")) //if the claim is pending and the programme coordinator has not approved it, it will be displayed in the table so that they may approve or deny it
                            {
                                <tr>
                                    <td>@claim.ClaimId</td>
                                    <td>@claim.LecturerId</td>
                                    <td>@claim.ContractId</td>
                                    <td><a href="@claim.SupportingDocument" target="_blank">Document</a></td> 
                                    @if (claim.HourlyRate > 500) //checks if hourly rate is reason claim was not approved and if it is it will be highlighted red
                                    {
                                        <td style="color: red;">@claim.HourlyRate</td>
                                    }
                                    else
                                    {
                                        <td>@claim.HourlyRate</td>
                                    }
                                    @if (@claim.HoursWorked > 20) //checks if hourly rate is reason claim was not approved and if it is it will be highlighted red
                                    {
                                        <td style="color: red;">@claim.HoursWorked</td>
                                    }
                                    else
                                    {
                                        <td>@claim.HoursWorked</td>
                                    }
                                    <td>@claim.ClaimTotal</td>
                                    <td>@claim.ClaimDate.ToString("MM/dd/yyyy")</td>
                                    <td>
                                        <form method="post" action="/Home/ApproveClaimPC"> <!--calls action from homecontolller so button has function-->
                                            <input type="hidden" name="claimId" value="@claim.ClaimId" />
                                            <button type="submit" class="btn btn-approve">Approve</button>
                                        </form>
                                        <form method="post" action="/Home/DenyClaimPC"> <!--calls action from homecontolller so button has function-->
                                            <input type="hidden" name="claimId" value="@claim.ClaimId" />
                                            <button type="submit" class="btn btn-deny">Deny</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="inner-container">
            <h3>Claims Pending Further Approval</h3>
            <table>
                <thead>
                    <tr>
                        <th>Claim ID</th>
                        <th>Lecturer ID</th>
                        <th>Contract ID</th>
                        <th>Supporting Documents</th>
                        <th>Amount</th>
                        <th>Date Of Claim</th>
                        <th>Approval Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model?.Claims != null) //if there are claims in the model this will loop through them
                    {
                        foreach (var claim in Model.Claims) //allows each claim to be displayed in the table one at a time
                        {
                            if ((claim.OverallAproval == "pending") && (claim.ProgrammeCoordinatorApproval == true)) //if the claim is pending and the programme coordinator has approved it, it will be displayed in the table
                            {
                                <tr>
                                    <td>@claim.ClaimId</td>
                                    <td>@claim.LecturerId</td>
                                    <td>@claim.ContractId</td>
                                    <td><a href="@claim.SupportingDocument" target="_blank">Document</a></td>
                                    <td>@claim.ClaimTotal</td>
                                    <td>@claim.ClaimDate.ToString("MM/dd/yyyy")</td>
                                    <td>
                                        <button class="btn btn-pending">pending...</button>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>